@mixin respond-to($breakpoint) {
  @if $breakpoint == "sm" {
      @media (min-width: 576px) {
          @content;
      }
  }
  @else if $breakpoint == "md" {
      @media (min-width: 768px) {
          @content;
      }
  }
  @else if $breakpoint == "lg" {
      @media (min-width: 992px) {
          @content;
      }
  }

  @else if $breakpoint == "xl" {
      @media (min-width: 1250px) {
          @content;
      }
  }
}

@mixin shadow {
    filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.15));
}

@mixin anchor-style {
    font-weight: 200;
    font-size: rem(18px);
    color: $brand-color;
    text-transform: capitalize;
}