// bg and accented text color
$background: #ffffff;
$brand-color: #724eef;
$footer-background: linear-gradient(180deg, #443e48 0%, #110617 100%);
$card-background: #f5f5f5;
$green: #14d071;
$red: #ff635a;
$blue: #2b2aa7;

// gray-scale color
$black: #000000;
$white: #ffffff;
$gray: #b6b6b6;
$border-color: #c7c7c7;

// customer bg color
$airbnb: #FF5A5F;
$adroll: #F5F5F5;
$peleton: #000000;
$evernote: #292929;
$samsung: #1428A0;
$nginx: #00AA4E;
$pagerduty: #5DBD5F;
$wholefoods: #000000;
$att: #00A8E0;

